


p{
    color: rgb(32, 29, 93);
    text-align: right;
    font-size: 18px;
}

h1{
    text-align: center;
}
h1{
    color: rgb(212, 147, 49);
}
img{
    float: left;
}

td{color: rgb(10, 50, 12);
}


